html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

nav {
  width: 100%;
  height: 60px;
  background: #3c3a39;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navbar-logo {
  display: flex;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: #fff;
  text-decoration: none;
}

.navbar-menu {
  padding-right: 50px;
}

.navbar-btn ul li {
  font-size: 15px;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.navbar-link a:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.navbar-desk {
  display: none;
  padding-right: 200px;
}

.header-box {
  background-size: 256px;
  height: 600px;
  width: 100%;
  background-color: #1c1a19;
  display: flex;
  background-repeat: no-repeat;
  background-position: bottom right -110px;
  background-image: url("./Images/header-illustration.png");
}

.header-content {
  width: 327px;
  margin: 122px 22px;
}

.header-title {
  display: flex;
  width: 327px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  color: #ff6b00;
}

.header-subtitle {
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.header-text-description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media {
  margin-top: 20px;
  top: 268px;
  left: 40px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-media-icon {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-correction {
  margin-top: 15px;
  padding: 0 10px;
}

.recent-container {
  display: grid;
  grid-template-columns: 1fr;
}

.recent {
  display: none;
}

.recent-work {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: grid;
  justify-content: center;
  margin-top: 170px;
}

.about-hr {
  border: 1px dotted #000;
  margin-bottom: 15px;
}

.image-p {
  display: grid;
  padding: 20px;
  margin: 20px;
}

.image-placeholder {
  display: grid;
  width: 100%;
  height: 400px;
}

.multi-post {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: grid;
  justify-content: start;
  margin-top: 50px;
  color: #091e42;
}

.recent-detail {
  display: grid;
  justify-content: center;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #091e42;
  margin-right: 30px;
}

.course {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
}

.list {
  border: 1px solid #8993a4;
  padding: 10px;
  font-size: 15px;
  font-family: Inter, sans-serif;
  line-height: 20px;
  list-style: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
}

.project {
  display: flex;
  padding: 12px;
  width: 124px;
  height: 48px;
  margin-top: 15px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

.project:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.professional {
  display: grid;
  width: 98%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("Images/skeloton/Img Place.png");
  background-repeat: no-repeat;
  background-size: 93% 350px;
  background-position-x: center;
  margin-left: 10px;
}

.pro-art {
  display: grid;
  width: 98%;
}

.art-print {
  display: grid;
  font-family: "Crete Round", serif;
  font-style: normal;
  width: 300px;
  height: 30px;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  color: #fff;
  margin-left: 40px;
  margin-top: 20px;
}

.daily-selection {
  display: grid;
  justify-content: center;
  width: 300px;
  height: 60px;
  padding-top: 40px;
  margin-left: 40px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.pro-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
  padding-top: 40px;
  margin-left: 40px;
  height: 10px;
}

.pro-h {
  border: 1px solid #8993a4;
  padding: 10px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  list-style: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.see-proj {
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  align-self: center;
  width: 93%;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 35px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.see-proj:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.about {
  background: #1c1a19;
  height: auto;
}

.about-me {
  width: 94%;
  margin-top: 40px;
  padding-top: 120px;
  padding-bottom: 209px;
  background-image: url("Images/skeloton/Group.png");
  background-repeat: no-repeat;
  background-size: 493px 258px;
  background-position: bottom right -305px;
  margin-left: 20px;
}

.about-head {
  margin-left: 40px;
  height: 79px;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.33px;
  color: #ff6b00;
}

.btn {
  padding: 12px;
  margin-left: 40px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  background: #f55800;
  color: #fff;
  border: 1px solid #f56b00;
  cursor: pointer;
}

.btn:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.hello {
  font-family: "Inter", serif;
  font-style: normal;
  margin-left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-separater {
  border: 1px solid #fff;
  margin-bottom: 136px;
}

.technologies {
  list-style: none;
  width: 100%;
  text-align: center;
}

.tech-title {
  height: 41.46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.tech {
  font-size: 22px;
  line-height: 43px;
  list-style: none;
  text-align: center;
  height: 48px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.tech-title > h5 {
  font-family: "InaiMathi", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #fff;
}

.form-detail {
  font-family: "Inter", serif;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 45px;
  margin-right: 25px;
  margin-top: 50px;
  padding-top: 90px;
  color: #172b4d;
}

input[type="text"],
input[type="email"] {
  font-family: "Inter", serif;
  margin-top: 20px;
  margin-left: 25px;
  width: 295px;
  border: #979493;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

textarea {
  margin-top: 20px;
  margin-left: 15px;
  width: 327px;
  height: 114px;
  border: #d4cfc9;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.get {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  background: #f55800;
  color: #fff;
  border: 1px solid #f56b00;
  padding: 15px 20px;
  margin-left: 100px;
}

.get:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

.for-li {
  display: flex;
  border: 1px solid rgb(199, 191, 191);
  position: relative;
  top: 1500px;
}

.icons {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-media-icons {
  padding: 15px;
  display: flex;
}

@media (min-width: 768px) {
  .container {
    padding: 0 90px;
  }

  .navbar-desk {
    display: flex;
  }

  .navbar-menu {
    display: none;
  }

  .header-box {
    height: 100vh;
    background-position: top  right;
    background-size: 550px;
  }

  .content {
    width: 566px;
    margin: 140px 130px;
  }

  .header-title {
    font-size: 72px;
    line-height: 81px;
    width: 400px;
    margin-left: 80px;
  }

  .header-subtitle {
    font-size: 32px;
    line-height: 44px;
    margin-top: 0;
    width: 566px;
    margin-left: 80px;
  }

  .header-text-description {
    font-size: 1.3rem;
    line-height: 32px;
    width: 566px;
    margin-left: 80px;
  }

  .social-media {
    top: -280px;
    left: -150px;
    position: relative;
    flex-direction: column;
  }

  .recent-container {
    display: none;
  }

  .recent {
    display: grid;
    grid-template-columns: 1fr;
    height: 100rem;
  }

  .work {
    font-size: 40px;
    line-height: 52px;
    display: flex;
    position: relative;
    left: 30px;
    justify-content: left;
    margin-top: 100px;
  }

  .about-hr {
    position: relative;
    width: 800px;
    border: 1px solid #bdb7b7;
    height: 0;
    left: 35px;
    top: 120px;
  }

  .image-perf {
    display: grid;
    padding: 25px 80px;
  }

  .image-pla {
    position: relative;
    width: 684px;
    height: 448px;
    left: 35px;
    top: 0;
  }

  .mult {
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;
    flex: none;
    position: relative;
    width: 448px;
    height: 48px;
    left: 740px;
    bottom: 480px;
    margin: 24px 0;
    color: #091e42;
  }

  .recent-tail {
    width: calc(100% - 833px);
    position: relative;
    height: 140px;
    left: 740px;
    bottom: 480px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    margin: 24px 0;
  }

  .cours {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    bottom: 460px;
    left: 740px;
    gap: 12px;
  }

  .listed {
    border: 1px solid #8993a4;
    padding: 10px;
    font-size: 15px;
    font-family: Inter, sans-serif;
    line-height: 20px;
    list-style: none;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
  }

  .proje {
    position: relative;
    bottom: 460px;
    left: 740px;
    padding: 12px;
    width: 124px;
    height: 48px;
    margin-top: 15px;
    background: #ff6b00;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    border: none;
  }

  .proje:hover {
    transition: all 0.2s ease-in-out;
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  .p {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 350px 350px 350px;
    padding: 10px;
    gap: 15px;
  }

  .professionall {
    position: relative;
    bottom: 340px;
    left: 5px;
    display: grid;
    width: 350px;
    height: 435px;
    background-image: url("Images/imgplaceholder.png");
    background-repeat: no-repeat;
    background-position-x: center;
  }

  .profession {
    position: relative;
    bottom: 340px;
    left: 5px;
    display: grid;
    width: 350px;
    height: 435px;
    background-image: url("Images/placeholder.png");
    background-repeat: no-repeat;
    background-position-x: center;
  }

  .profess {
    position: relative;
    bottom: 340px;
    left: 5px;
    display: grid;
    width: 340px;
    height: 435px;
    background-image: url("Images/iplaceholder.png");
    background-repeat: no-repeat;
    background-position-x: center;
  }

  .professiona {
    position: relative;
    bottom: 340px;
    left: 5px;
    display: grid;
    width: 350px;
    height: 435px;
    background-image: url("Images/dark.png");
    background-repeat: no-repeat;
    background-position-x: center;
  }

  .pro {
    display: grid;
    width: 98%;
  }

  .art {
    display: grid;
    font-family: "Crete Round", serif;
    font-style: normal;
    width: 300px;
    height: 50px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-left: 20px;
    margin-top: 200px;
  }

  .selection {
    display: grid;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: 20px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .tag {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    padding-top: 20px;
    margin-left: 20px;
    height: 10px;
  }

  .pro-lis {
    border: 1px solid #8993a4;
    padding: 10px;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    line-height: 20px;
    list-style: none;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
  }

  .c-proj {
    margin-left: auto;
    margin-right: auto;
    margin-top: 385px;
    align-self: center;
    width: 100%;
    height: 48px;
    background: #ff6b00;
    font-weight: 700;
    font-size: 17px;
    line-height: 35px;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .c-proj:hover {
    transition: all 0.2s ease-in-out;
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  .about {
    background: #1c1a19;
  }

  .about-me {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 209px;
    background-image: url("Images/group.png");
    background-repeat: no-repeat;
    background-size: 493px 258px;
    background-position: top 30% right;
    margin-left: 20px;
  }

  .about-head {
    width: 566px;
    margin-left: 40px;
    height: 79px;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.33px;
    color: #ff6b00;
  }

  .hello {
    width: 566px;
    height: 148px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #f4f5f7;
  }

  .about-separater {
    border: 1px solid #fff;
    margin-bottom: 150px;
    width: 1156px;
  }

  .tech1 {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: row;
    position: relative;
    bottom: 90px;
  }

  .technologies {
    text-align: left;
    list-style: none;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
  }

  .form-detail {
    width: calc(100% - 855px);
    height: 256px;
    position: relative;
    right: 350px;
    font-size: 43px;
    line-height: 52px;
    text-align: left;
  }

  .ip-type {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 300px;
    left: 520px;
  }

  input[type="text"],
  input[type="email"] {
    position: relative;
    right: 250px;
    margin-top: 20px;
    width: 295px;
  }

  textarea {
    position: relative;
    width: 684px;
    height: 115px;
    right: 250px;
  }

  .get {
    position: relative;
    right: 335px;
  }

  .for-li {
    display: none;
  }

  .icons {
    position: relative;
    bottom: 150px;
    padding-bottom: 10px;
  }
}
