html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

.contain {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

nav {
  width: 100%;
  height: 60px;
  background: #3c3a39;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navbar-logo {
  display: flex;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: #fff;
  text-decoration: none;
}

.navbar-menu {
  padding-right: 50px;
}

.navbar-btn ul li {
  font-size: 15px;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.navbar-link a:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.navbar-desk {
  display: none;
  padding-right: 100px;
}

.header-box {
  background-size: 256px;
  height: 600px;
  width: 100%;
  background-color: #1c1a19;
  display: flex;
  background-repeat: no-repeat;
  background-position: bottom right -110px;
  background-image: url("./Images/header-illustration.png");
}

.header-content {
  width: 327px;
  margin: 122px 22px;
}

.header-title {
  display: flex;
  width: 327px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  color: #ff6b00;
}

.header-subtitle {
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.header-text-description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media {
  margin-top: 20px;
  top: 268px;
  left: 40px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-media-icon {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.recent-container {
  display: grid;
  grid-template-columns: 1fr;
}

.recent {
  display: none;
}

.recent-work {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: grid;
  justify-content: center;
  margin-top: 170px;
}

.about-hr {
  border: 1px dotted #000;
  margin-bottom: 15px;
}

.image-p {
  display: grid;
  padding: 20px;
  margin: 20px;
}

.image-placeholder {
  display: grid;
  width: 100%;
  height: 400px;
}

.multi-post {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: grid;
  justify-content: start;
  margin-top: 50px;
  color: #091e42;
}

.recent-detail {
  display: grid;
  justify-content: center;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #091e42;
  margin-right: 30px;
}

.course {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
}

.list {
  border: 1px solid #8993a4;
  padding: 10px;
  font-size: 15px;
  font-family: Inter, sans-serif;
  line-height: 20px;
  list-style: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
}

.project {
  display: flex;
  padding: 12px;
  width: 124px;
  height: 48px;
  margin-top: 15px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

.project:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.professional {
  display: grid;
  width: 98%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("Images/skeloton/Img Place.png");
  background-repeat: no-repeat;
  background-size: 93% 350px;
  background-position-x: center;
  margin-left: 10px;
}

.pro-art {
  display: grid;
  width: 98%;
}

.art-print {
  display: grid;
  font-family: "Crete Round", serif;
  font-style: normal;
  width: 300px;
  height: 30px;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  color: #fff;
  margin-left: 40px;
  margin-top: 20px;
}

.daily-selection {
  display: grid;
  justify-content: center;
  width: 300px;
  height: 60px;
  padding-top: 40px;
  margin-left: 40px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.pro-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
  padding-top: 40px;
  margin-left: 40px;
  height: 10px;
}

.pro-h {
  border: 1px solid #8993a4;
  padding: 10px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  list-style: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.see-proj {
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  align-self: center;
  width: 93%;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 35px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.see-proj:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.all-in {
  display: none;
}

.myresent h2 {
  display: flex;
  flex-direction: column;
  height: 80px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  margin-top: 10px;
  margin-left: 110px;
}

.line-h {
  width: 60%;
  position: relative;
  bottom: 30px;
  margin-right: 110px;
  border: 1px solid #b1adac;
}

.card1 {
  display: grid;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.contenido {
  display: grid;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.box1 {
  display: grid;
}

.botones4 {
  width: 80px;
}

.botones4 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0;
  align-items: center;
  width: 49px;
  margin-left: 190px;
}

.botones4 button {
  background-color: rgba(255, 255, 255, 0.24);
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: 8px;
  height: 49px;
}

.see:hover {
  background-color: rgb(34, 189, 228);
}

.proyect button {
  width: 124px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  background: #ff6b00;
  color: #fff;
  margin-top: 20px;
  align-items: center;
  margin-left: 90px;
}

.dashbord2 {
  width: 295px;
  height: 81px;
  padding-top: 50px;
  padding-left: 20px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-top: 130px;
}

.dashbord1 {
  width: 295px;
  height: 81px;
  padding-top: 50px;
  padding-left: 20px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.texto3 {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 20px;
}

.botones3 button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
}

.botones3 ul {
  width: 61px;
  height: 40px;
  list-style: none;
  display: flex;
  padding: 10px 15px 0 20px;
}

.about {
  background: #1c1a19;
  height: auto;
}

.about-me {
  width: 94%;
  margin-top: 40px;
  padding-top: 120px;
  padding-bottom: 209px;
  background-image: url("Images/skeloton/Group.png");
  background-repeat: no-repeat;
  background-size: 493px 258px;
  background-position: bottom right -305px;
  margin-left: 20px;
}

.about-head {
  margin-left: 40px;
  height: 79px;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.33px;
  color: #ff6b00;
}

.btn {
  padding: 12px;
  margin-left: 40px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  background: #f55800;
  color: #fff;
  border: 1px solid #f56b00;
  cursor: pointer;
}

.btn:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.hello {
  font-family: "Inter", serif;
  font-style: normal;
  margin-left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-separater {
  border: 1px solid #fff;
  margin-bottom: 136px;
}

.technologies {
  list-style: none;
  width: 100%;
  text-align: center;
}

.tech-title {
  height: 41.46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.tech {
  font-size: 22px;
  line-height: 43px;
  list-style: none;
  text-align: center;
  height: 48px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.tech-title > h5 {
  font-family: "InaiMathi", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #fff;
}

.form-detail {
  font-family: "Inter", serif;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 45px;
  margin-right: 25px;
  margin-top: 50px;
  padding-top: 90px;
  color: #172b4d;
}

input[type="text"],
input[type="email"] {
  font-family: "Inter", serif;
  margin-top: 20px;
  margin-left: 25px;
  width: 295px;
  border: #979493;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

textarea {
  margin-top: 20px;
  margin-left: 15px;
  width: 327px;
  height: 114px;
  border: #d4cfc9;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.get {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  background: #f55800;
  color: #fff;
  border: 1px solid #f56b00;
  padding: 15px 20px;
  margin-left: 100px;
}

.get:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

.for-li {
  display: flex;
  border: 1px solid rgb(158, 154, 154);
  position: relative;
  top: 1510px;
}

.icons {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-media-icons {
  padding: 15px;
  display: flex;
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .navbar-logo {
    margin-left: 80px;
  }

  .navbar-desk {
    display: flex;
  }

  .navbar-menu {
    display: none;
  }

  .header-box {
    height: 100vh;
    background-position: top  right 0;
    background-size: 550px;
  }

  .header-title {
    font-size: 72px;
    line-height: 81px;
    width: 400px;
    margin-left: 80px;
    animation-name: title-animation;
    animation-duration: 4s;
  }

  @keyframes title-animation {
    from {
      margin-left: -200px;
    }

    to {
      margin-left: 80px;
    }
  }

  .header-subtitle {
    font-size: 32px;
    line-height: 44px;
    margin-top: 0;
    width: 566px;
    margin-left: 80px;
  }

  .header-text-description {
    font-size: 1.3rem;
    line-height: 32px;
    width: 566px;
    margin-left: 80px;
  }

  .social-media {
    top: -280px;
    left: -150px;
    position: relative;
    flex-direction: column;
  }

  .recent-container {
    display: none;
  }

  .all-in {
    display: grid;
  }

  .myresent h2 {
    height: 52px;
    font-weight: 400;
    font-size: 40px;
    margin-top: 110px;
  }

  .card {
    margin-bottom: 115px;
  }

  .box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .botones4 {
    display: grid;
  }

  .box1 img {
    width: calc(100% - 50px);
    height: 448px;
    margin-left: 120px;
  }

  .box1 .daily {
    padding: 0 90px;
    height: 140px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 19px;
    line-height: 26px;
  }

  .box2 {
    max-width: 1300px;
    height: 435px;
    background: url(./Images/imgplaceholder.png);
    background-repeat: no-repeat;
  }

  .box3 {
    height: 435px;
    background: url(./Images/placeholder.png);
    background-repeat: no-repeat;
  }

  .box4 {
    height: 435px;
    background: url(./Images/iplaceholder.png);
    background-repeat: no-repeat;
  }

  .box {
    height: 435px;
    background: url(./Images/dark.png);
    background-repeat: no-repeat;
  }

  .dashbord1 {
    display: none;
  }

  .contenido {
    display: grid;
    width: calc(100% - 333px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    margin-left: 170px;
    margin-right: 150px;
  }

  .multi {
    margin-left: 90px;
    height: 48px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .brian1 button {
    width: 332px;
    height: 60px;
    margin-top: 325px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    background-color: #ff6b00;
    font-size: 17px;
    color: #fff;
    border: none;
  }

  .brian button {
    display: none;
  }

  .texto3 {
    width: 337px;
    height: 50px;
    margin-top: 50px;
  }

  .about-me {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 209px;
    background-image: url("Images/group.png");
    background-repeat: no-repeat;
    background-size: 493px 258px;
    background-position: top 30% right;
    margin-left: 20px;
  }

  .about-head {
    width: 566px;
    margin-left: 40px;
    height: 79px;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.33px;
    color: #ff6b00;
  }

  .hello {
    width: 566px;
    height: 148px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #f4f5f7;
  }

  .about-separater {
    border: 1px solid #fff;
    margin-bottom: 150px;
    width: 1156px;
  }

  .tech1 {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: row;
    position: relative;
    bottom: 90px;
  }

  .technologies {
    text-align: left;
    list-style: none;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
  }

  .form-detail {
    width: calc(100% - 1070px);
    height: 256px;
    position: relative;
    right: 350px;
    font-size: 30px;
    line-height: 52px;
    text-align: left;
    margin: 24px 0;
  }

  .ip-type {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 280px;
    left: 520px;
  }

  input[type="text"],
  input[type="email"] {
    position: relative;
    right: 250px;
    width: 295px;
    color: #979493;
    border-bottom: 1px solid #b1adac;
  }

  textarea {
    position: relative;
    width: 684px;
    height: 115px;
    right: 250px;
    background: #fbf8f7;
  }

  .get {
    position: relative;
    right: 335px;
  }

  .butt {
    position: relative;
    bottom: 50px;
    display: flex;
    color: red;
    width: 100%;
    margin-bottom: 100px;
  }

  .for-li {
    display: none;
  }

  .icons {
    position: relative;
    bottom: 150px;
    padding-bottom: 10px;
  }
}
